In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings

In [2]:
filepath = r"df_original.csv"
data = pd.read_csv(filepath)

print(data.head(), data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4602 entries, 0 to 4601
Data columns (total 22 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   FEMALE                    4602 non-null   object
 1   57                        4602 non-null   int64
 2   45-59                     4602 non-null   object
 3   URBAN 100,000-200,000     4602 non-null   object
 4   VOCATIONAL/GRAMMAR        4602 non-null   object
 5   RETIRED                   4602 non-null   object
 6   MARRIED                   4602 non-null   object
 7   PLEASED                   4602 non-null   object
 8   6                         4602 non-null   int64
 9   ONE CAN`T BE TOO CAREFUL  4602 non-null   object
 10  YES                       4602 non-null   object
 11  NO                        4602 non-null   object
 12  NO.1                      4602 non-null   object
 13  6.1                       4602 non-null   int64
 14  NO.2                      4602 non-null   object
 15  NO.3                      4602 non-null   object
 16  NO.4                      4602 non-null   object
 17  NO.5                      4602 non-null   object
 18  NONE                      4602 non-null   object
 19  170                       4602 non-null   int64
 20  89                        4602 non-null   int64
 21  30.795847750865054        4602 non-null   float64
dtypes: float64(1), int64(5), object(16)
memory usage: 791.1+ KB
   FEMALE  57  45-59   URBAN 100,000-200,000    VOCATIONAL/GRAMMAR  \
0    MALE  20  16-24             RURAL AREAS    VOCATIONAL/GRAMMAR
1  FEMALE  18  16-24  URBAN 500,000 AND OVER    VOCATIONAL/GRAMMAR
2  FEMALE  78    65+             RURAL AREAS  PRIMARY/NO EDUCATION
3  FEMALE  54  45-59   URBAN 100,000-200,000    VOCATIONAL/GRAMMAR
4    MALE  20  16-24   URBAN 100,000-200,000             SECONDARY

            RETIRED  MARRIED           PLEASED   6  \
0  PUPIL OR STUDENT   SINGLE  MOSTLY SATISFIED   0
1  PUPIL OR STUDENT   SINGLE           PLEASED   0
2           RETIRED  WIDOWED             MIXED  16
3     SELF-EMPLOYED  MARRIED  MOSTLY SATISFIED   4
4  PUPIL OR STUDENT   SINGLE           PLEASED   5

     ONE CAN`T BE TOO CAREFUL  ... NO.1 6.1 NO.2  NO.3 NO.4 NO.5    NONE  170  \
0      IT`S DIFFICULT TO TELL  ...   NO   4   NO    NO   NO   NO  ACTIVE  187
1  MOST PEOPLE CAN BE TRUSTED  ...   NO  20   NO    NO   NO   NO  ACTIVE  165
2    ONE CAN`T BE TOO CAREFUL  ...  YES   0   NO    NO   NO   NO    NONE  160
3    ONE CAN`T BE TOO CAREFUL  ...  YES   6  YES    NO   NO   NO    NONE  158
4    ONE CAN`T BE TOO CAREFUL  ...   NO  10   NO    NO   NO   NO  ACTIVE  165

   89  30.795847750865054
0  82           23.449341
1  50           18.365473
2  78           30.468750
3  50           20.028842
4  65           23.875115

[5 rows x 22 columns] None

In [3]:
from sdv.metadata import SingleTableMetadata

metadata = SingleTableMetadata()
metadata.detect_from_dataframe(data)

In [ ]:
from sdv.single_table import CTGANSynthesizer

synthesizer = CTGANSynthesizer(metadata, epochs = 10)
synthesizer.fit(data)

In [5]:
import time

start_time = time.time()
synthetic_data = synthesizer.sample(num_rows = len(data))
end_time = time.time()

elapsed_time = end_time - start_time
print(f"Temps pris pour générer les données synthétiques : {elapsed_time} secondes")

No Python documentation found for 'CTGANSynthesizer()'.
Use help() to get the interactive help utility.
Use help(str) for help on the str class.